{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'home/style.css' %}">

</head>
</head>

<body style="background-image: url('{% static 'home/bg.png'%}') ;">
    <div id="demoFont">

        <center>
            <h1> Bonafide Certificate Generator </h1>
        </center>
        <hr style="border-color: rgb(194, 6, 6);">
        <form>
            <center>

            <label for="name" style="margin-right: 39px;">Name:</label>

            <input type="text" id="name" name="name" value="(First Middle Last)" placeholder="First Middle Last" title="Enter First Middle Last name">

            <label for="Year" style="margin-right: 88px;">Year:</label>


            <select name="Year" id="Year" " onchange="showselected(this.value)" title="select your current year">
                <option value="First Year" selected>First Year</option>
                <option value="Second Year">Second Year</option>
                <option value="Third Year">Third Year</option>
            </select>
            <br><br>

            <label for="Course">Course:</label>

            <select name="Course" id="Course" onchange="showselected(this.value)" style="margin-right: 82px;" title="select your course">
                <option value="Computer Engineering">Computer Engineering</option>
                <option value="Mechanical Engineering">Mechanical Engineering</option>
                <option value="Civil Engineering">Civil Engineering</option>
                <option value="Electrical Engineering">Electrical Engineering</option>
            </select>

            <label for="Division">Division:</label>

            <select name="Division" id="Division" onchange="showselected(this.value)" title="select your division">
                 <option value="A">A</option>
                 <option value="B">B</option>
                 <option value="C">C</option>
                 <option value="Shift">Shift</option>
            </select>
            <br><br>

            <label for="Rollno" style="margin-right: 15px;" >Rollno:</label>

            <input type="text" id="Rollno" name="Rollno" style="width: 400px; margin-right: 65px;"placeholder="Enter in numbers" title="enter your rollnumber in integer">

            <label for="Gender" style="margin-right: 13px;">Gender:</label>

            <select name="Gender" id="Gender" onchange="showselected(this.value)" title="select your gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
           </select>
           <br><br>
           
           
            <br><br><br><br><br><br>

            <button type="submit" align="center" title="submit form">Submit</button>
            </center>





    </div>
    </form>

</body>

</html>